{% extends 'base.html' %}
{% load static i18n %}
<h1>{% block title %}
{% trans 'Edit Materials' %}

{% endblock %}
</h1>

{% block content  %}
<div class="container mt-4">
<div class="row">
    <div class="col-md-10">
        <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'expenses-dash:materials' %}">{% trans 'Materials' %}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            {% trans 'Edit Material' %}
        </li>
    </ol>
</nav>
    </div>
        <div class="col-md-2">
                     <a href="{% url "expenses-dash:delete_material" object.id %}" class="btn btn-danger btn-sm">
             {% trans "Delete" %}</a>
    </div>
</div>

</div>

<div class="card">
  <div class="card-body">
      <form  action="{% url "expenses-dash:edit_material" object.pk %}" method="post"  >
        {% csrf_token %}
     {{ form.errors }}
    {% include 'partials/_messages.html'  %}
        <div class="form-group" style="margin-bottom: 15px">
            <label for="">{% trans "Name" %}</label>
            <input type="text" class="form-control form-control-sm" name="name" value="{{object.name}}">

        </div>
         <div class="form-check">
              <input class="form-check-input" type="checkbox" id="is_service" name="is_service" value="{{object.is_service}}">
              <label class="form-check-label" for="is_service">
          <h6>   {% trans "Is Service" %}</h6>
              </label>
            </div>
        <div class="form-group" style="margin-bottom: 15px">
            <label for="">{% trans "Description" %}</label>
            <input type="text" class="form-control form-control-sm" name="description" value="{{object.description}}">

        </div>

        <input  style="margin-top: 15px" type="submit" value="Submit" class="btn btn-primary btn-primary-sm">
        </form>

    </div>
</div>
{% endblock %}