{% extends 'base.html' %}
{% block title %}
<h1>Expense List</h1>
{% endblock %}

{% block content  %}
<ul class="list-group">
<li class="list-group-item">Milk</li>
<li class="list-group-item">Milk</li>
<li class="list-group-item">Milk</li>
<li class="list-group-item">Milk</li>
<li class="list-group-item">Milk</li>
<li class="list-group-item">Milk</li>
<li class="list-group-item">Milk</li>
<li class="list-group-item">Milk</li>
<li class="list-group-item">Milk</li>
<li class="list-group-item">Milk</li>

</ul>

{% endblock %}