{% extends 'base.html' %}
{% load static i18n %}
{% block title %}
<h1>{% trans 'Expense Summery' %}</h1>
{% endblock %}

{% block content  %}
<div class="container" mt-4>

<div class="row">
    <div class="col-md-10" style="position: inherit">
        <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="">{% trans ' Summery Epenses' %}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            {% trans 'Expenses Summery' %}
        </li>
    </ol>
</nav>
        </div>
    <div class="col-md-2">
        <a href="{% url 'expenses-dash:expenses' %}"
           class="btn btn-primary">{% trans 'Back' %}</a>
    </div>
</div>
    <br/>

</div>
{#<script src="{% static "js/searchOutlays.js" %}">#}

</script>
{% endblock %}