{% extends 'base.html' %}
{% load static i18n %}
{% block title %}
<h1>{% trans 'Expense Summery' %}</h1>
{% endblock %}

{% block content  %}


            <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">

            <a type="button" class="btn btn-sm btn-outline-secondary">{% trans 'Download PDF' %}</a>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar" class="align-text-bottom"></span>
            {% trans 'This week' %}
          </button>
        </div>
    <br/>
    <div class="row">
    <div class="col-md-10" style="position: inherit">
        <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="">{% trans ' Summery Epenses' %}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            {% trans 'Expenses Summery' %}
        </li>
    </ol>
</nav>
        </div>
    <div class="col-md-2">
        <a href="{% url 'expenses-dash:expenses' %}"
           class="btn btn-primary">{% trans 'Back' %}</a>
    </div>
</div>
<div class="container" mt-4>

<h2>Expense List</h2>

   <div class="app-table">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
             <th>{% trans "Price"%}</th>
           <th>{% trans "Outlay Type" %}</th>
           <th>{% trans "Material" %}</th>
           <th>{% trans "Description" %}</th>
            <th>{% trans "Date" %}</th>


        </tr>
        </thead>
        <tbody>
        {% for outlay in object_list %}
        <tr>
            <td>
                {{ outlay.price }}
            </td>
            <td>
                {{ outlay.outlay_type }}
            </td>
            <td>
                {{ outlay.material }}
            </td>
            <td>
               {{  outlay.description }}
            </td>
            <td>
                {{ outlay.date }}
            </td>


        </tr>
        {% endfor %}

        </tbody>
    </table>
   <h3>{% trans "Total: " %} {{ total }}</h3>
   </div>

<script>


</script>
{% endblock %}