#header {
    background: #3d034d;
    color: #ffffff;
}

#branding h1{
    color: #ffffff;
}


div.breadcrumbs {
    background: #600575;
    padding: 10px 40px;
    border: none;
    color:#ffffff;
    text-align: left;
}

.login .submit-row{
    padding: 0px !important; ;

}

input[type=submit], input[type=button], .submit-row input {
    background: #3d034d;
}

.module h2, .module caption, .inline-group h2 {
    background: #28083b;
}

a:link, a:visited {
    color: #ffffff;
}

.paginator a:link, .paginator a:visited {
    background: #3d034d;

}
.paginator a.showall {
    color: #ffffff;
}